html {
  font-size: 18px;
}

body {
  color: $text-color-fallback;
  color: $text-color;
  background: #fff;
  font: normal normal 1rem/1.45 $base-font;
  -webkit-text-size-adjust: none;
  visibility: hidden;

  &.is__ready {
    visibility: visible;
  }
}

.global-container {
  padding: 1em 2em;
}

.narrow-container {
  @include container;
}

.full-width-container {
  @include container;
  max-width: none;
}

.nudge-top-container {
  padding-top: 0;
  margin-top: -3rem;
}

a {
  color: $link-color;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, .15);
  transition: color 0.4s, box-shadow 0.4s;

  &:hover {
    color: $link-hover-color;
    box-shadow: inset 0 -2px 0 -1px $link-hover-color;
  }

  &:active {
    color: $link-active-color;
    box-shadow: inset 0 -2px 0 -1px $link-active-color;
  }
}

p {
  margin: 0 0 .75rem;
}

h1 {
  padding: 1.24rem 0 .62rem;
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  padding: .84rem 0 .42rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-style: italic;
}

ul {
  margin-bottom: .75rem;
  list-style: none outside;
}

p+ul, p+ol {
  margin-top: -.75rem;
}

li {
  padding: 0 0 .5rem 2.25rem;
}

li > ul, li > ol {
  margin: .45em 0 0 2.5em
}

li > ul li, li > ol li {
  font-size: 1em
}

ol {
  margin-bottom: .75rem;
  list-style: none outside;
  counter-reset: ol-counter;
}

ol > li:before {
  content: counter(ol-counter) ') ';
  counter-increment: ol-counter;
}

dd {
  margin-left: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  height: 1px;
  border: 0;
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, .15);
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 0 .75rem;
  border-left: 5px solid #eee;

  &.pull-right {
    padding: 0 1.5rem 0 0;
    border-left: none;
    border-right: 5px solid #eee;
    text-align: right;
  }

  small { color: #515151 }

  small:before, &.pull-right small:after {
    content: '— ';
  }

  &.pull-right small:before { display: none}
}

pre, code {
  color: $code-color;
  font-family: $monospace-font;
  font-size: 88.8%
}

pre code {
  color: $pre-code-color;
  font-size: 1em;
  white-space: pre-wrap;
}
