body {
  color: $text-color-fallback;
  color: $text-color;
  background: #fff;
  font: normal normal 18px/1.45 $base-font;
  padding: 1em 2em .5em;
  -webkit-text-size-adjust: none;
}

a {
  color: $link-color-fallback;
  color: $link-color;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, .15);
  transition: color 0.4s, box-shadow 0.4s;

  &:hover {
    color: $link-hover-color;
    border-color: $link-color-fallback;
    border-color: $link-color;
  }

  &:active {
    color: $link-active-color;
    border-bottom-color: transparent;
  }
}

p {
  margin: 0 0 1.5em;
}

h1 {
  padding: 1.5em 0;
  font-size: 2em;
}

h2 {
  padding: 1.75em 0;
  font-size: 1.5em;
}

h3 {
  padding: 1.82em 0;
  font-size: 1.16em;
}

h4 {
  font-weight: bold
}

ul {
  margin-bottom: 1em;
  list-style: none outside;

  li:before {
    content: '—';
    position: absolute;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
    text-align: left;
  }
}

li {
  margin: 0 0 .5em;
}

li > ul, li > ol {
  margin: .45em 0 0 2.5em
}

li > ul li, li > ol li {
  font-size: 1em
}

ol {
  margin-bottom: 1.8em;
  list-style: decimal outside;
}

dd {
  margin-left: 1.5em;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

hr {
  position: relative;
  margin: 2em 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

blockquote {
  padding: 0 0 0 1.5em;
  margin: 0 0 1.5em;
  border-left: 5px solid #eee;

  &.pull-right {
    padding: 0 1em 0 0;
    border-left: none;
    border-right: 5px solid #eee;
    text-align: right;
  }

  p { margin: 0 }
  small { color: #515151 }

  small:before, &.pull-right small:after {
    content: '— ';
  }

  &.pull-right small:before { display: none}
}

pre, code {
  color: $code-color;
  font-family: $monospace-font;
  font-size: 88.8%
}

pre code {
  color: $pre-code-color;
  font-size: 1em;
  white-space: pre-wrap;
}
