@font-face {
  src: url(/assets/fonts/GeistMono-Variable.woff2) format("woff2");
  font-family: Geist Mono;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/GeistMono-Italic-Variable.woff2) format("woff2");
  font-family: Geist Mono;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

