$monospace-font: Monaco, Menlo, Consolas, Lucida Console, Bitstream Vera Sans Mono, Courier New, monospace;
$gregor-font: Georgia, serif;

$text-color: rgba(0, 0, 0, .8);
$text-color-fallback: #414141;

$link-color: rgba(0, 0, 0, .9);
$link-color-fallback: #111;

$link-hover-color: #0064ae;
$link-active-color: #c33012;

$code-color: #cf1332;
$pre-code-color: #0086b3;
