.blog {
  h3 {
    padding-bottom: .125em;
  }
}

.blog-posts {
  li {
    margin: 0 0 .25em;
  }

  li:before {
    display: none;
  }

  .favorite:after {
    content: '★';
    color: #414141;
    font-size: .7em;
    vertical-align: middle;
  }
}
