.blog {
  h2 {
    padding-top: 1.15em;
  }
}

.blog-posts {
  margin-top: 0;

  li {
    padding-left: 0;
  }

  .favorite:after {
    content: '★';
    color: #414141;
    font-size: .7em;
    vertical-align: middle;
  }
}
