.old_posts {
  @include container;
}

.old_posts-list {
  margin-top: 0;
  margin-left: 0;

  li {
    padding-left: 0;
  }

  .favorite:before {
    display: inline-block;
    content: '★';
    position: absolute;
    width: 1.5em;
    margin-left: -1.5em;
    margin-top: .27em;
    color: #414141;
    font-size: .7em;
    text-align: center;
  }
}
