.post {
  max-width: 34em;
  padding: 4em 4em 6em 2em;
}

.post-date + .post-title {
  padding-top: 0;
}

.post-date {
  display: none;
  color: lighten($text-color, 50%);
}

.outstanding {
  text-align: center;
  margin: .5em 0 1.25em;
  font: 1.125em/1.5 Georgia, serif;
}

.img--break {
  margin-bottom: 2em;
}
