.post {
  max-width: 38em;
  margin: 0 auto;
}

.outstanding {
  text-align: center;
  margin: .5em 0 2em;
  font: 1.125em/1.5 Georgia, serif;
}

.post-nav {
  /*display: table;*/
  display: none;
  padding: 2em 0 0;
  font-size: 75%;
}

.previous-post, .next-post, .post-nav-arrows {
  display: table-cell;
}

.post-nav-arrows .is-disabled {
  color: #777;
}

.previous-post {
  padding-right: 5px;
}

.next-post {
  padding-left: 5px;
}
