<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} @ vast.github.com</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen, projection" />
</head>
<body>
<div id="wrap">
  <div id="page">
    <h1 class="title">{{ page.title }}</h1>
    {{ content }}
    <h3>Blog Posts</h3>
    <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div id="aside">
    <ul class="contacts">
      <li><a href="http://twitter.com/vazilla">twitter.com/vazilla</a></li>
      <li><a href="http://github.com/vast">github.com/vast</a></li>
      <li><a href="mailto:vasily@polovnyov.ru">vasily@polovnyov.ru</a></li>
    </ul>
  </div>
</div>
</body>
</html>