<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="/css/application.css" media="screen, projection" />
  <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 980px)" />
  <link rel="profile" href="http://microformats.org/profile/hcard" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
</head>
<body>
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">{{ page.title }} </h2>
    </header>
    <div class="post-contents">
      {{ content }}
    </div>
  </article>

  <footer id="footer">
    <address class="vcard">
      <h5><a href="/" class="fn url">Василий Половнёв</a></h5>
      <span id="funny-title" class="title">фронтенд-шмонтенд разработчик, успешный брограммист</span>
      <a href="http://twitter.com/vazilla" class="url twitter">@vazilla</a>
    </address>
  </footer>
  <script src="/js/typography.js"></script>
  <script>typographer.kickit('.post-contents, .post-title')</script>
  <script>
    var funnyTitles = [
      'капитан-командор, непризнанный филантроп',
      'автор бестселлера &laquo;HTML ненавидит нас всех&raquo;',
      'веб-евангелист в ООО &laquo;Печенька&raquo;',
      'давно мечтает о двойной фамилии Круг-Циркуль',
      'мать, жена, саентолог',
      'мастер спорта по тяжелым омлетикам',
      'фронтенд-шмонтенд разработчик, успешный брограммист',
      'самый счастливый обладатель маски Оптимуса Прайма в Курской области',
      'один ниггер из десяти тысяч'
    ];

    var trulyRandom = function() {
      document.getElementById('funny-title').innerHTML = funnyTitles[Math.floor(Math.random()*funnyTitles.length)];
    }

    setInterval(trulyRandom, 10000);
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1522660-11', 'polovnyov.ru');
    ga('send', 'pageview');
  </script>
</body>
</html>
