<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape_once }}" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="/css/application.css" media="screen, projection" />
  <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width: 980px)" />
  <link rel="stylesheet" href="https://npmcdn.com/social-likes-next/dist/social-likes_birman.css">
  <link rel="profile" href="http://microformats.org/profile/hcard" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37100705 = new Ya.Metrika({
                    id:37100705,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37100705" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <div class="global-container">
    <header class="header">
      <div class="header-contents">
        <a href="/">{{ site.title }}</a>
      </div>
    </header>
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }} </h1>
      </header>

      <div class="post-contents">
        {{ content }}
      </div>

      <footer class="post-meta">
        <small class="post-date">
          ⊙
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}января
            {% when '2' %}февраля
            {% when '3' %}марта
            {% when '4' %}апреля
            {% when '5' %}мая
            {% when '6' %}июня
            {% when '7' %}июля
            {% when '8' %}августа
            {% when '9' %}сентября
            {% when '10' %}октября
            {% when '11' %}ноября
            {% when '12' %}декабря
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </small>

        <div class="social-likes">
          <div data-service="twitter" data-via="vazilla" title="Поделиться ссылкой в Твитере">Твитнуть</div>
          <div data-service="facebook" title="Поделиться ссылкой на Фейсбуке">Поделиться</div>
          <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Поделиться</div>
        </div>

        <ul class="post-nav">
          <li>
            {% if page.previous.url %}
              <a href="{{page.previous.url}}">{{page.previous.title}}</a>
            {% endif %}
          </li>

          <li class="post-nav-spacer">← →</li>

          <li>
            {% if page.next.url %}
              <a href="{{page.next.url}}">{{page.next.title}}</a>
            {% endif %}
          </li>
        </ul>

        <div class="post-course">
          {% if page.skip_tests_announce == nil or (page.skip_tests_announce == false) %}
            <div class="post-course-img">
              <a href="/tests/">
                <img src="/assets/tests-small.png" alt="" width="600" height="577" />
              </a>
            </div>

            <div class="post-course-description">
              <h3><a href="/tests/">Тестовый курс</a></h3>
              <p>Дистанционный курс о тестировании в Ruby и Rails. С теорией, примерами, домашкой и дополнительными материалами: статьями, советами, видео.</p>
            </div>
          {% endif %}
        </div>
      </footer>
    </article>
  </div>

  <div class="bottom-contents">
    <div class="global-container">
      <aside class="related">
        <h2>Популярное</h2>
        {% assign popular_posts = site.popular_posts %}
        {% for post_url in site.popular_post_urls %}
          {% for post in site.posts %}
            {% if post_url == post.url %}
              {% assign popular_posts = popular_posts | push: post %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        <ul class="related-posts related-posts--popular">
          {% for post in popular_posts %}
            {% if post.url != page.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </aside>

      <aside class="related">
        <h2>Из старого</h2>
        <ul class="related-posts related-posts--too-old">
          {% for post in site.posts %}
          {% unless popular_posts contains post %}
            {% if post.url != page.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endunless %}
          {% endfor %}
        </ul>
      </aside>

      <footer id="footer">
        <span style="margin-left: -1.22em">&copy; Василий Половнёв, 2014—{{ site.time | date: '%Y' }}</span>,<br />
        <span id="funny-title" onclick="javascript:trulyRandom();" style="cursor: pointer">
          бьюти-разработчик
        </span>
      </footer>
    </div>
  </div>

  <script src="/js/errything.js"></script>
  <script src="https://npmcdn.com/social-likes-next/dist/social-likes.min.js"></script>
  <script>typographer.kickit('.post-contents, .post-title')</script>
  <script>
    var funnyTitles = [
      'капитан-командор, непризнанный филантроп',
      'автор бестселлера &laquo;HTML ненавидит нас всех&raquo;',
      'веб-евангелист в ООО &laquo;Печенька&raquo;',
      'давно мечтает о&nbsp;фамилии Круг-Циркуль',
      'мать, жена, саентолог',
      'мастер спорта по тяжелым омлетикам',
      'фронтенд-шмонтенд разработчик',
      'один нигер из&nbsp;десяти тысяч',
      'редактор журнала &laquo;Верстающий Фатеж&raquo;',
      'программист полураспада',
      'бьюти-разработчик',
      'мамкин штангист'
    ];

    var trulyRandom = function() {
      document.getElementById('funny-title').innerHTML = funnyTitles[Math.floor(Math.random()*funnyTitles.length)];
    }

    setInterval(trulyRandom, 5000);
  </script>
</body>
</html>
